body {
  font-family: sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.semestre {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
}

.titulo-semestre {
  font-weight: bold;
  margin-bottom: 10px;
}

.ramo {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  background-color: pink;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s;
}

.ramo.aprobado {
  background-color: purple;
  color: white;
  text-decoration: line-through;
}

.ramo.bloqueado {
  background-color: gray;
  cursor: not-allowed;
}

